.header__lang-link {
  font-size: 18px;
  line-height: 111%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18px;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 117%;
  }
}
