@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.page {
  width: 100%;
  background-color: #2a2c30;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}
