.page {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  height: auto;
  background-color: #2a2c30;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}
