.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #2a2c30;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
}
