@import url("./__item/photo-grid__item.css");

.photo-grid {
  width: auto;
  height: auto;
  margin: 63px 16px 0 16px;
  display: inline-grid;
  grid-gap: 12px 12px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin: 192px 24px 0 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 14px 14px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin: 192px 48px 0px 48px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px 16px;
    margin: auto;
    padding-top: 250px;
  }
}
