.intro__subtitle {
  margin: 40px 0 32px 0;
  font-size: 24px;
  line-height: 125%;
}

@media screen and (min-width: 768px) {
  .intro__subtitle {
    line-height: 142%;
    /* or 142% */
  }
}

@media screen and (min-width: 1280px) {
  .intro__subtitle {
    line-height: 34px;
    width: 690px;
  }
}
