.page{
    width: 100%;
    background-color: #2a2c30;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    max-width: 100%;
    overflow-y: hidden;
}



.header{     
     display: flex;
     direction: row;
}



.header__navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
}


.header__logo {
    width: 156px;
    height: 36px;
    margin: 0;
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 50px;
}



.header__lang-link{
    width: 22px;
    height: 24px;
    margin-left: 71px;
    margin-top: 30px;
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 24px;
/* identical to box height, or 133% */
    text-decoration-line: underline;
}

.header__lang-link_es{
    width: 22px;
    height: 24px;
    margin-left: 18px;
    margin-top: 30px;
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 24px;
/* identical to box height, or 133% */
    text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
    .header {
        width: 720px;
        height: 44px;
        margin: 34px 24px 50px 24px;
        background: #2a2c30;
        display: flex;
        flex-direction: row;
    }
    .header__logo{
        width: 190px;
        height: 44px;
    }

   

    .header__lang-link{
        width: 29px;
        height: 28px;
        margin: 34px 18px 4px 456px;
    }

    .header__lang-link_es{
        width: 27px;
        height: 28px;
        margin: 34px 0px 4px 0px;
    }

  }
  
@media screen and (min-width: 1024px){
    .header{     
        display: flex;
        direction: row;
        width: 928px;
        height: 44px;
        margin-left: 48px;
    }

   .header__lang-link{
       margin: 46px 0px 0px 656px;
   }

   .header__lang-link_es{
       margin: 46px 0px 0px 18px;
   }
    
} 

@media screen and (min-width: 1280px){
    .header{     
        display: flex;
        direction: row;
        width: 984px;
        height: 44px;
        margin-left: 148px;
    }

    .header__logo{
        margin: 0px;
    }

   .header__lang-link{
       margin: 12px 0px 0px 720px;
   }

   .header__lang-link_es{
       margin: 12px 0px 0px 18px;
   }
    
}



.lead{
    display: flex;
    flex-direction: column;
}

.lead__title{
    width: 288px;
    height: 88px;
    margin: 50px 16px 0px 16px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    /* or 110% */
    text-align: center;
}

.lead__subtitle{
    width: 288px;
    height: 40px;
    margin: 16px 16px 0px 16px;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
}

.lead__image{
    width: 320px;
    height: 200px;
    margin: 40px 0px 0px 0px;
}

.lead__caption{
    width: 183px;
    height: 14px;
    margin: 8px 121px 0px 16px;
    font-size: 10px;
    line-height: 14px;
/* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase; 
}

@media screen and (min-width: 768px) {
    .lead {
        width: 768px;
        height: 862px;
        margin-left: 48 px;        
    }
    
    .lead__title{
    width: 720px;
    height: 200px;
    margin: 50px 24px 32px 24px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    }

    .lead__subtitle{
        width: 620px;
        height: 72px;
        margin: 32px 74px 56px 74px;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }

    .lead__image{
        width: 768px;
        height: 480px;
    }

    .lead__caption{
        width: 183px;
        height: 14px;
        margin: 8px 561px 0px 24px;
    }
  }

@media screen and (min-width: 1024px){
    .lead{
        width: 928px;
        height: auto;
        margin-left: 48px;
        }

    .lead__title{
        margin-left: 104px;
    }

    .lead__subtitle{
        margin-left: 154px;
    }

    .lead__image{
        width: 928px;
        height: 580px;
    }
}

@media screen and (min-width: 1280px){
    .lead{
        width: 984px;
        height: auto;
        margin-left: 148px;
        margin-top: 58px;
        }

    .lead__title{
        margin-left: 132px;
    }

    .lead__subtitle{
        margin-left: 182px;
    }

    .lead__image{
        width: 984px;
        height: 615px;
    }
}


.intro{
    margin: 64px 0px 0px 16px;
}

.intro__title{
width: 288px;
height: 105px;
left: 16px;
font-weight: 900;
font-size: 32px;
line-height: 35px;
color: #FFFFFF;
}

.intro__text{
    margin-top: 40px;
    width: 288px;
    height: 90px;
    font-size: 24px;
    line-height: 30px;
}

.text {
    height: 468px; 
    margin-top: 30px;
    font-size: 16px;
    line-height: 26px; 
}

.intro__list{
    list-style: none;
    margin-top: 31px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (min-width: 768px){
    .intro{
        width: 720px;
        height: 543px;
        margin-left: 24px;
        padding-top: 88px;
        display: inline-block;
    }

    .intro__title{
        width: 720px;
        height: 116px;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
    }

    .intro__text{
    width: 720px;
    height: 68px;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    }

    .text {
        height: 183px;
        left: 24px;
        font-size: 16px;
        line-height: 163%;
        /* or 26px */


      
    }

    .intro__list{
        position: absolute;
        width: 720px;
        height: 72px;
        margin-top: 32px;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */

    }
}

@media screen and (min-width: 1024px){
    .intro{
        width: 690px;
        height: 569px;
        margin-left: 48px;
        margin-top: 92px;
    }
}

@media screen and (min-width: 1024px){
    .intro{
        width: 690px;
        height: 569px;
        margin-left: 148px;
        margin-top: 92px;
    }
}

.photo-grid{
    width: 288px;
    height: 2724px;
    margin: 63px 16px 0px 16px;
    display: inline-grid;
    grid-row-gap: 12px;
}

.photo-grid__item{
    list-style-image: none;
    width: 288px;
    height: 216px;
    margin: 0;
}

@media screen and (min-width: 768px){
    .photo-grid{
        width: 720px;
        height: 1664px;
        margin: 92px 24px 0px 24px;
        display: grid;
        grid-template-columns: auto 1fr ;
        grid-template-rows: auto 1fr ;
        grid-gap: 14px 14px;
    }

    .photo-grid__item{
        width: 352px;
        height: 264px;
        margin: 0;
    }
}

@media screen and (min-width: 1024px){
    .photo-grid{
        width: 928px;
        height: 942px;
        margin: 92px 0px 0px 48px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 14px 14px;
    }

    .photo-grid__item{
        width: 300px;
        height: 225px;
    }
}

@media screen and (min-width: 1280px){
    .photo-grid{
        width: 1184px;
        height: 671px;
        margin-left: 48px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 16px 16px;
    }

    .photo-grid__item{
        width: 284px;
        height: 213px;
    }
}

.places{
    width: 320px;
    height: auto;
    margin-top: 65px;
    display: grid;
    grid-row-gap: 47px;
}

.place{
    width: 320px;
    height: auto;
    left: 0px;
}

.place__title{
    width: 288px;
    height: 35px;
    margin-left: 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
}

.place__image{
    width: 320px;
    height: 320px;
    left: 0px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.place__paragraph{
    width: 288px;
    margin-left: 16px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.place__url-heading{
    display:none;
}

.place__link{
    display: none;
}

@media screen and (min-width: 768px){
    .places{
        width: 720px;
        height: auto;
        margin: 88px 24px 0px 24px;
    }

    .place{
        width: 720px;
        height: auto;
        margin: 0 24px 0px 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 28px;        
    }

    .place__column{
        width: 340px;
        height: auto;
    }

    .place__title{
        width: 340px;
        height: 46px;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        margin: 0px;
    }

    .place__image{
        width: 340px;
        height: 340px;
        margin-top: 48px 0px 0px 0px;
    }

    .place__website{
        width: 352px;
        height: 46px;
        margin-bottom: 24px;
    }

    .place__url-heading{
        display: inline-block;
        width: 352px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */
        letter-spacing: 0.2em;
        color: #AAAAAA;
        
    }

    .place__link{
        display: inline-block;
        width: 352px;
        height: 22px;
        margin: 12px 0px 0px 0px;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height, or 122% */
        text-decoration-line: underline;  
        color:white;     
    }

    .place__link:hover{
        opacity: 0.8;
    }

    .place__paragraph{
        width: 352px;
        height: auto;
        margin: 24px 0px;
        font-size: 16px;
        line-height: 163%;
        /* or 26px */
    }
}

@media screen and (min-width: 1024px){
    .places{
        width: 928px;
        height: auto;
        margin: 92px 0px 0px 48px;
    }

    .place{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
        margin: 0px;        
    }

    .place__column{
        width: 440px;
        height: auto;
    }

    .place__title{
        width: 440px;
        height: auto;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        /* identical to box height, or 106% */}
    
    .place__image{
        width: 440px;
        height: 440px;
    }

    .place__website{
        width: 456px;
        height: 46px;
    }

    .place__url-heading{
        width: 456px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
    }

    .place__link{
        width: 456px;
        height: 22px;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height, or 122% */
        text-decoration-line: underline;
    }

   

    .place__paragraph{
        width: 456px;
        height: auto;
        margin: 48px 0px;
        font-size: 18px;
        line-height: 163%;
        /* or 29px */
    }
}

@media screen and (min-width: 1280px){
    .places{
        width: 984px;
        height: auto;
        margin: 92px 0px 0px 148px;
    }

    .place{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        margin: 0px;        
    }

    .place__column{
        width: 460px;
        height: auto;
    }

    .place__title{
        width: 460px;
        height: auto;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        /* identical to box height, or 106% */}
    
    .place__image{
        width: 460px;
        height: 460px;
    }

    .place__website{
        width: 456px;
        height: 46px;
    }

    .place__url-heading{
        width: 456px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        color: #AAAAAA;
    }

    .place__link{
        width: 456px;
        height: 22px;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height, or 122% */
        text-decoration-line: underline;
    }

    .place__paragraph{
        width: 484px;
        height: auto;
        margin: 48px 0px;
        font-size: 18px;
        line-height: 163%;
        /* or 29px */
    }
}




.cover{
    width: 320px;
    height: 200px;
    margin: 0px 0px 0px 0px;
}

.cover__overlay{
    width: 320px;
    height: 200px;
    margin: 64px 0px 0px 0px;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__overlay:hover{
    background: #2A2C2F;
    opacity: 0.8;
}

.cover__title{
    width: 288px;
    height: 35px;
    padding-left: 16px;
    padding-top: 51px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: white;
    opacity: 1;
}

.cover__subtitle{
    position: relative;
    width: 288px;
    height: 48px;
    left: 16px;
    top: 102px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}


.cover__background{
    width: 320px;
    height: 200px;
    margin: 64px 0px 0px 0px;
    background: url(images/cover-route-66.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




@media screen and (min-width: 768px){
    .cover{
        width: 768px;
        height: 480px;
        padding: 0px;
        margin-bottom: 88px;
        /**margin: 0px;**/
    }

    .cover__overlay{
        width: 768px;
        height: 480px;
        margin: 0px;
        background: #2A2C2F;
        padding: 0px;
        /**opacity: 0.3;**/   
    }

    .cover__background{   
        width: 768px;
        height: 480px;
        padding: 0px;
        /**margin: 0px;**/
    }

    .cover__title{
        position: relative;
        height: 76px;
        width: 656px;
        top: 153px;
        left: 56px;
        font-size: 72px;
        font-weight: 900;
        line-height: 76px;
        letter-spacing: 0em;

    }

    .cover__subtitle{
        position: relative;
        height: 66px;
        width: 320px;
        top: 261px;
        left: 224px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 0px;
    }
}

@media screen and (min-width: 1024px){
    .cover{
        width: 1024px;
        height: 640px;
    }

    .cover__overlay{
        width: 1024px;
        height: 640px;
    }

    .cover__background{
        width: 1024px;
        height: 640px;
    }

    .cover__title{
        position: relative;
        top: 233px;
        left: 184px;
    }

    .cover__subtitle{
        position: relative;
        top: 341px;
        left: 352px;
    }
}

@media screen and (min-width: 1024px){
    .cover{
        width: 1184px;
        height: 740px;
        margin-left: 48px;
    }

    .cover__overlay{
        width: 1184px;
        height: 740px;
    }

    .cover__background{
        width: 1184px;
        height: 740px;
    }

    .cover__title{
        position: relative;
        top: 283px;
        left: 264px;
    }

    .cover__subtitle{
        position: relative;
        top: 391px;
        left: 432px;
    }
}




.footer{
    width: 168px;
    height: 198px;
    margin-top: 64px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;   
}

.footer__link{
    margin-bottom: 32px;
    width: 63px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    color:white;
    text-decoration: none;
    text-align: left;
}

.footer__copyright{
    width: 168px;
    height: 14px;
    margin: 16px 136px 24px 0px; 
    font-size: 14px;
    line-height: 14px;
    text-align: left;
}

@media screen and (min-width: 768px){
    .footer{
        display: flex;
        flex-direction: row;
        width: 720px;
        height: 18px;
        margin: 88px 24px 24px 24px;
        padding-bottom: 24px;
        }
    .footer__link{
        width: 42px;
        height: 18px;
        margin-right: 18px;
        font-size: 16px;
        line-height: 18px;
        text-align: left;
    }
    .footer__copyright{
        width: 168px;
        height: 16px;
        margin: 0px;
        padding-left: 341px;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        display: inline;
    }
}

@media screen and (min-width: 1024px){
    .footer{
        display: inline;
        width: 928px;
        height: 18px;
        margin: 92px 48px 24px 48px;
        padding-bottom: 24px;
        }
    .footer__link{
        width: 42px;
        height: 18px;
        margin-right: 18px;
        font-size: 16px;
        line-height: 18px;
    }
    .footer__copyright{
        width: 168px;
        height: 16px;
        margin: 0px;
        padding-left: 549px;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        display: inline;
    }
}

@media screen and (min-width: 1024px){
    .footer{
        display: inline;
        width: 1184px;
        height: 18px;
        margin: 92px 48px 24px 48px;
        padding-bottom: 24px;
        }
    .footer__link{
        width: 42px;
        height: 18px;
        margin-right: 18px;
        font-size: 16px;
        line-height: 18px;
    }
    .footer__copyright{
        width: 168px;
        height: 16px;
        margin: 0px;
        padding-left: 805px;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        display: inline;
    }
}