
.intro__title {
    width: 288px;
    height: 105px;
    left: 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    color: #FFFFFF;
}


@media screen and (min-width: 768px){
    .intro__title{
        width: 720px;
        height: 116px;
        font-weight: 900;
        font-size: 54px;
        line-height: 107%;
    }   
}
