.intro__list {
  list-style: none;
  margin-top: 31px;
  margin-left: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  padding: 0px;
}

.intro__list li span {
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .intro__list {
    position: absolute;
    width: 720px;
    height: auto;
    margin-top: 32px;
    margin-left: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    /* or 150% */
  }
}
