.intro__list {
  list-style: none;
  margin-top: 31px;
  margin-left: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .intro__list {
    width: 720px;
    height: auto;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__list {
    width: 690px;
  }
}
