@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image/lead__image.css");
@import url("./__caption/lead__caption.css");

.lead {
  width: 320px;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .lead {
    width: 768px;
    height: 862px;
    margin: auto auto auto 0px;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    width: 928px;
    height: auto;
    margin: auto auto auto 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    width: 984px;
    height: auto;
    margin: auto auto auto 148px;
  }
}
