@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image/lead__image.css");
@import url("./__caption/lead__caption.css");

.lead {
  width: auto;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 0 0;
}

@media screen and (min-width: 768px) {
  .lead {
    margin: 50px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    min-width: 928px;
    margin: 50px 48px auto 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    min-width: 984px;
    margin: 58px 148px auto 148px;
  }
}
