
.photo-grid__item{
    list-style-image: none;
    width: 288px;
    height: 216px;
    margin: 0;
}

@media screen and (min-width: 768px){
     .photo-grid__item{
        width: 352px;
        height: 264px;
        margin: 0;
    }
}

@media screen and (min-width: 1024px){
    .photo-grid__item{
        width: 300px;
        height: 225px;
    }
}

@media screen and (min-width: 1280px){
    .photo-grid__item{
        width: 284px;
        height: 213px;
    }
}