@import url("./__lang-link/header__lang-link.css");
@import url("./__link/header__link.css");
@import url("./__logo/header__logo.css");

.header {
  width: auto;
  height: auto;
  margin: 20px 16px 50px 16px;
  display: flex;
  direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    margin: 34px 24px 50px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin: 34px 48px 0px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    min-width: 984px;
    margin: auto;
    padding-top: 34px;
  }
}
