.footer__link {
  font-size: 24px;
  line-height: 100%;
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 113%;
    margin-right: 18px;
  }
}
