.footer__link {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 100%;
  color: white;
  text-decoration: none;
  text-align: left;
}

.footer__link:hover {
  color: #aaaaaa;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 113%;
    margin-right: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__link {
    font-size: 16px;
    line-height: 113%;
  }
}

@media screen and (min-width: 1280px) {
  .footer__link {
    font-size: 16px;
    line-height: 113%;
  }
}
