.lead__title {
  margin: auto;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  /* or 110% */
  min-width: 288px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 104%;
    /* or 104% */
    text-align: center;
    min-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    margin: 50px auto;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 58px auto 0 auto;
  }
}
