.lead__title {
  margin: auto;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  margin: 0 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 104%;
    margin: 0 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    margin: 0 104px 0 104px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 0 132px 0 132px;
  }
}
