.lead__image {
  width: 100%;
  min-height: 200px;
  margin: 40px 0 0 0;
}

@media screen and (min-width: 768px) {
  .lead__image {
    min-height: 480px;
    margin: 56px 0 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin: 64px 0 0 0;
  }
}
