.intro__text {
  font-family: inter;
  font-style: regular;
  font-size: 16px;
  line-height: 163%;
  text-align: left;
}

@media screen and (min-width: 1280px) {
  .intro__text {
    font-size: 24px;
    line-height: 34px;
    width: 690px;
  }
}
