@import url("./__title/intro__title.css");
@import url("./__list/intro__list.css");
@import url("./__text/intro__text.css");

.intro {
  margin: 64px 0px 0px 16px;
  width: 288px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .intro {
    max-width: 720px;
    height: auto;
    margin: 92px auto auto 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    width: 690px;
    height: auto;
    margin: 92px auto auto 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    width: 690px;
    height: auto;
    margin: 92px auto auto 148px;
  }
}
