@import url("./__title/intro__title.css");
@import url("./__subtitle/intro__subtitle.css");
@import url("./__list/intro__list.css");
@import url("./__text/intro__text.css");

.intro {
  margin: 64px 16px 0px 16px;
  width: auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  .intro {
    width: auto;
    height: auto;
    margin: 92px 24px auto 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    width: 690px;
    height: auto;
    margin: 92px 286px auto 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    width: 690px;
    height: auto;
    margin: 92px 442px auto 148px;
  }
}
