@import url("./__title/intro__title.css");
@import url("./__subtitle/intro__subtitle.css");
@import url("./__list/intro__list.css");
@import url("./__digits/intro__digits.css");
@import url("./__text/intro__text.css");

.intro {
  margin: 64px 16px 0 16px;
  width: auto;
  height: auto;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .intro {
    margin: 92px 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    margin: 92px 286px 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin: 92px 442px 0 148px;
  }
}
