.lead__subtitle {
  max-width: 288px;
  margin: 16px auto 0px auto;
  font-size: 16px;
  line-height: 125%;
  /* or 125% */
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 620px;
    margin: 32px auto 56px auto;
    font-size: 30px;
    line-height: 120%;
  }
}
