@import url("./__link/cover__link.css");
@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");

.cover {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

@media screen and (min-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 89px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
    margin: 97px 0 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 117px auto auto auto;
  }
}
