.place__link {
  display: none;
}

@media screen and (min-width: 768px) {
  .place__link {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 122%;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: white;
  }

  .place__link:hover {
    opacity: 0.8;
  }
}
