.cover__title {
  margin: 51px auto 32px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  text-decoration: none;
  color: white;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 106%;
    letter-spacing: 0em;
    margin: 153px auto 32px auto;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    margin: 233px auto 32px auto;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    margin: 283px auto 32px auto;
  }
}
