@import url("./__links/footer__links.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");

.footer {
  width: auto;
  height: auto;
  margin: 64px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    margin: 88px 24px 24px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin: 92px 48px 24px 48px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    min-width: 1184px;
    margin: auto;
    padding-top: 92px;
  }
}
