@import url("./__links/footer__links.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");

.footer {
  width: 168px;
  height: auto;
  margin: 64px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 720px;
    margin: 88px auto 24px 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 928px;
    margin: 92px auto 24px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 1184px;
    margin: 92px auto 24px 148px;
    padding-bottom: 24px;
  }
}
